body{
	height:100%;
	margin: 0;
	padding:0;
	background: #f1f1f1
}

a{
    text-decoration: none;

}


nav {
    display: flex;
    background-color: rgb(255, 203, 154);
    justify-content: space-around;
    padding: 20px 0px;
    color: rgb(0, 0, 0);
    
}


.logo {
    font-weight: 999999;
    
    
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: rgb(255, 0, 200);
    transition: 0.4s;
}


.image{
	position: relative;
	height: 600px;
	overflow: hidden;
	background: url(wed1.jpeg) no-repeat center;
	background-size: cover;

}

.container{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: white;
	font-weight: 700;
	text-transform: uppercase;

}

.container h1{
	font-size: 72px;
	

}

.container h1 span{
	border: 10px solid white;
	padding: 6px;

}

.container h2 {
	border: 10px solid white;
	padding: 6px;
    border-radius: 10px;
    background-color: white;
    color: #000;

}

.signin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 20px 25px;
        width: 300px;
    
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 10px rgba(255,255,255,.3);
}

.masuk{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}
.input{
    text-align: left;
    color: #90caf9;
}
.signin form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.field{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}



a {
    color: white;
    font-size: 10pt;
    transition: 0,5s;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
}